@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4>Thank you for your registration</h4>
        <hr />
        <p><a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a></p>
    </div>
    <div class="col-sm-4"></div>
</div>